/* Tiempos Fine Font */
@font-face {
    font-family: 'TiemposFine';
    src: url('../fonts/TiemposFine-Regular.eot'); /* EOT file for IE */
    src: url('../fonts/TiemposFine-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TiemposFine-Regular.woff2') format('woff2'),
         url('../fonts/TiemposFine-Regular.woff') format('woff'),
         url('../fonts/TiemposFine-Light.otf') format('opentype'),
         url('../fonts/TiemposFine-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Tiempos Text Font */
@font-face {
    font-family: 'TiemposText';
    src: url('../fonts/tiempos-text-web-regular.eot'); /* EOT file for IE */
    src: url('../fonts/tiempos-text-web-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tiempos-text-web-regular.woff2') format('woff2'),
         url('../fonts/tiempos-text-web-regular.woff') format('woff'),
         url('../fonts/tiempos-text-web-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Today Sans Now Pro Font */
@font-face {
    font-family: 'TodaySansNowPro';
    src: url('../fonts/TodaySansNowPro-Regular.woff2') format('woff2'),
         url('../fonts/TodaySansNowPro-Medium.eot') format('embedded-opentype'),
         url('../fonts/TodaySansNowPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
